* {
    margin: 0px;
    padding: 0px;
    background-color: #140643;
}

#heading {
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 100vw;
    background-color: #140643;
}

#leftlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 20vw;
}

#rightlogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 15vw;
}

.logo {
    height: 10vh;
    width: 7vw;
    margin: 10px;
}

#culogo {
    background-image: url(/hackathon/photos/cu-logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 4vw;
}

#kavachlogo {
    background-image: url(/hackathon/photos/kavach-logo-white.png);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    width: 10vw;
}

#nacc {
    background-image: url(/hackathon/photos/nac.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 5vh;
    width: 7vw;
}

#form {
    display: flex;
    justify-content: center;
    height: 200vh;
    width: 100vw;
    background-color: #140643;
}

#internal_form {
    height: 200vh;
    width: 80vw;
}

#internal_form h1 {
    color: white;
    margin: 5px;
    font-family: 'Poppins';
}

#internal_form p {
    color: white;
    margin: 5px;
    font-family: 'Poppins';
}

#internal_form h3 {
    color: white;
    font-family: 'Poppins';
}

.twofeild {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 80vw;
}

.feilds {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 35vw;
    text-align: center;
    color: white;
    background: url(/hackathon/photos/Rectangle9.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
}

#submitdiv {
    display: flex;
    justify-content: center;
    background: url(/hackathon/photos/Rectangle22.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#submit {
    height: 5vh;
    width: 10vw;
    border: none;
    background: transparent;
    color: white;
    font-weight: bold;
    font-family: 'Poppins';
}

#submitouter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 80vw;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    font-weight: bold;
    font-family: 'Poppins';
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    font-weight: bold;
    font-family: 'Poppins';
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    font-weight: bold;
    font-family: 'Poppins';
}

@media only screen and (max-width: 600px) {
    #heading {
        display: flex;
        justify-content: space-between;
        height: 20vh;
        width: 100vw;
        background-color: #140643;
    }
    #leftlogo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
        width: 40vw;
    }
    #rightlogo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
        width: 30vw;
    }
    .logo {
        height: 5vh;
        margin: 10px;
    }
    #culogo {
        background-image: url(/hackathon/photos/cu-logo.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 7vw;
    }
    #kavachlogo {
        background-image: url(/hackathon/photos/kavach-logo-white.png);
        background-repeat: no-repeat;
        background-size: 100% 90%;
        width: 15vw;
    }
    #nacc {
        background-image: url(/hackathon/photos/nac.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 15vw;
    }
    #form {
        display: flex;
        justify-content: center;
        height: 200vh;
        width: 100vw;
        background-color: #140643;
    }
    #internal_form {
        height: 200vh;
        width: 80vw;
    }
    #internal_form h1 {
        color: white;
        margin: 5px;
        font-family: 'Poppins';
    }
    #internal_form p {
        color: white;
        margin: 5px;
        font-family: 'Poppins';
    }
    #internal_form h3 {
        color: white;
        font-family: 'Poppins';
    }
    .twofeild {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        width: 80vw;
    }
    .feilds {
        display: flex;
        margin: 10px;
        align-items: center;
        justify-content: center;
        height: 10vh;
        width: 25vw;
        text-align: center;
        background: url(/hackathon/photos/Rectangle9.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border: none;
        color: white;
    }
    #submitdiv {
        display: flex;
        justify-content: center;
        background: url(/hackathon/photos/Rectangle22.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    #submit {
        height: 5vh;
        width: 10vw;
        border: none;
        background: transparent;
        color: white;
        font-weight: bold;
        font-family: 'Poppins';
    }
    #submitouter {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20vh;
        width: 80vw;
    }
     ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1;
        font-size: 10px;
        font-weight: bold;
        font-family: 'Poppins';
        /* Firefox */
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: white;
        font-weight: bold;
        font-size: 10px;
        font-family: 'Poppins';
    }
     ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: white;
        font-weight: bold;
        font-size: 10px;
        font-family: 'Poppins';
    }
}
